.springtravel_activity_wrap h2{
  margin: -18% 0 0 0
}
.springtravel_activity_wrap .table-activity{
  margin: -3.125rem 0 0 0;
}
.springtravel_activity_wrap .table-activity td{
  padding: 1.5625rem 0;
  vertical-align: middle;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #35A936;
}
.springtravel_activity_wrap .table-activity .activity-name{
  margin: 0;
  font-size: 1.75rem;
  text-align: left;
  color: #35A936;
  font-weight: normal;
}
.springtravel_activity_wrap .table-activity .activity-time{
  color: #5E5D5D;
  font-size: 1.25rem;
}
.springtravel_activity_wrap .table-activity .activity-address{
  color: #5E5D5D;
  font-size: 1.25rem;
}
