.youtubevedio{
    width: 100%;
}

.blog_wrap{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.photo{
    border-radius: 50%;
    display: inline-block;
    height: 238px;
    overflow: hidden;
    text-align: center;
    width: 238px;
}
.photo img{
    height: 100%;
    width: 100%;
}


@media (max-width: 575.98px) {
	.youtubevedio{
        height: 170px;
        margin: 2rem 0;
    }
	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.youtubevedio{
        height: 175px;
        margin: 2rem 0;
    }
	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.youtubevedio{
        height: 280px;
        margin: 2rem 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
	.youtubevedio{
        height: 200px;
    }
}

@media (min-width: 1200px) and (max-width: 1599.98px) {
	.youtubevedio{
        height: 247px;
    }
}

@media (min-width: 1600px) {
	
}
