.springtravel_tour_wrap h2{
  margin: -18% 0 0 0
}
.springtravel_tour_wrap .tour-tip{
  margin: 1.875rem 0 1.875rem 0;
}
.springtravel_tour_wrap .tour-tip .tour-tip-text{
  display: inline-block;
  padding: 0 1.875rem 0 0;
}
.springtravel_tour_wrap .card{
  background-color: transparent;
  border-bottom: 1px solid #35a936;
  border-radius: 0;
}
.springtravel_tour_wrap .card-header{
  border: none;
  background-color: transparent;
}
.springtravel_tour_wrap .btn-attraction{
  display: block;
  width: 100%;
  padding: 0;
  color: #35a936;
}
.springtravel_tour_wrap .btn-attraction:hover{
  text-decoration: underline;
  color: #35a936;
}
.springtravel_tour_wrap h3.attraction-name{
  margin: 0;
  font-size: 1.75rem;
  color: #35a936;
  text-align: left;
}
.springtravel_tour_wrap .btn-attraction i {
  font-size: 30px;
  color: #35a936;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  float: right;
}
.springtravel_tour_wrap .btn-attraction i.rotate.down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.springtravel_tour_wrap .accordion{
  padding: 0 1.25rem;
}
.springtravel_tour_wrap .accordion>.card{
  border: none;
  border-bottom: 1px solid #35a936;
}
.springtravel_tour_wrap .accordion>.card:not(:first-of-type):not(:last-of-type){
  border-bottom: 1px solid #35a936;
}
.springtravel_tour_wrap .accordion>.card:first-of-type{
  border-bottom: 1px solid #35a936;
}
.springtravel_tour_wrap .accordion>.card .card-header{
  margin: 0;
}
.springtravel_tour_wrap .card-body .attraction-img img{
  border-radius: 2rem;
}
.springtravel_tour_wrap .card-body .attraction-intro{
  text-align: justify;
}
.springtravel_tour_wrap .hotel-intro{
  padding: .75rem 1.25rem 0 1.25rem;
}
.springtravel_tour_wrap .recommend-list{
  margin: 0;
  padding: 0;
  padding: .75rem 1.25rem 0 1.25rem;
  list-style: none;
  text-align: left;
}
.springtravel_tour_wrap .recommend-list h3{
  font-size: 1.75rem;
  color: #35a936;
}
.springtravel_tour_wrap .recommend-list li{
  border-bottom: 1px solid #35a936;
  margin: 0 0 1rem 0;
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail{
  list-style: none;
  margin: 0;
  padding: 0;
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail{
  text-align: center;
  font-weight: normal;
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail li{
  display: flex;
  font-weight: normal;
  font-size: 1.25rem;
  color: #35a936;
  border: none;
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail li:after{
  padding: 0 0 0 10px;
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  font-family: "fontello";
  content: '\f105';
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail li span.recommend-name{
  display: inline-flex;
  width: 100%;
  max-height: 45px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.springtravel_tour_wrap .recommend-list .recommend-list-detail li:last-child:after{
  content: '';
}
